/*自定义css文件*/
/*框体头部li标签样式*/
body{
    top: 0;
    margin: 0 auto;
    width: 1280px!important;
    background-color: white;
}
.li_notice {
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #27b4f7;
}

/*框体头部a标签样式*/
.clic {
    display: block;
    width: 100%;
    height: 60px;
}

a{
    color: black;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: black;
}

a:active {
    color: black;
}

a:hover {
    color: black;
    cursor: pointer;
}

.hidden {
    display: none;
}

/*通知时间样式*/
.time {
    color: black;
    vertical-align: middle;
    float: left;
    font-size: 14px;
    margin: 14px 0;
}

/*通知样式*/
.msg {
    height: 40px;
}

.msg div {
    color: black;
    padding: 10px 0 10px 30px;
}

.all_notice {
    /*background-color: #7AE9F3;*/
    margin: 10px auto;
    /*font-size: 16px;*/
    overflow: auto;
}
/*通知图标样式*/
.ico {
    float: right;
    padding: 13px
}

/*帮助条目div样式*/
li div.main {
    padding: 0 33px;
    cursor: pointer;
    height: 48px;
    background-color: rgba(222, 239, 252, .9);
    border-radius: 8px
}

/*{#div边框样式#}*/
.bord {
    border-radius: 8px;
}

/*滚动条相关*/
ul.sc {
    height: 500px;
    overflow-x: hidden;
    overflow-y: scroll;
}

ul.sc::-webkit-scrollbar { /*滚动条整体样式*/
    width: 10px; /*高宽分别对应横竖滚动条的尺寸*/
    height: 4px;
}

ul.sc::-webkit-scrollbar-thumb { /*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: aqua;
}

ul.sc::-webkit-scrollbar-track { /*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 0;
    background: rgba(0, 0, 0, 0);
}

/*帮助信息相关样式*/
.li_c {
    padding: 15px;
    border: 1px cyan solid;
    margin: 0 40px 0 10px;
    border-top: none;
    list-style: none
}

/*代码工具页相关*/
.tool_div{
    width: 1280px;
    height: 800px;
    margin-top: 100px;
}
.tool_div div{
    /*background: transparent;*/
    height: 250px;
    width: 200px;
    display: inline-block;
    margin: 25px;
    border: crimson 2px solid;
    border-radius: 10px;
}
body{
    width: 100%;
    height: 100%;
}

/*考试页相关*/
.test_div{
    background: transparent;
    display: inline-block;
    margin: 20px 1%;
    width: 30%;
    height: 250px;
    border: crimson 2px solid;
    border-radius: 10px;
}

.spn {
    position: absolute;
    left: -60px;
    height: 60px;
    width: 60px;
    top: 100px;
    background-color: cyan;
    color: #c12e2a;
    text-align: center;
    border-radius: 30px;
    line-height: 20px;
    font-size: 15px;
    padding: 10px
}

/* 我的班级 */

.my_class_inquiry {
    margin: 50px 450px;
    width: 1000px;
}

.error_info {
    margin-left: 550px;
    margin-top: 10px;
    color: red;
}

.my_class_content {
    border: 1px red solid;
    height: 800px;
    width: 1280px;
    margin: 50px auto 0;
    background-color: white;
    overflow: hidden;
}

.my_class_content_backup {
    border: 1px red solid;
    height: 800px;
    width: 1280px;
    margin: 50px auto 0;
    background-color: white;
    overflow: hidden;
}

.every_single_class {
    border: 1px red solid;
    height: 100px;
    width: 290px;
    margin: 15px 9px 20px 20px;
}

.every_single_class p {
    font-size: 16px;
    font-weight: bold;
}

.single_info p {
    margin: 16px 20px;
    width: 1000px;

}

.plus_in_div {
    margin-right: 10px;
    margin-top: -73px;
}

.plus_in {
    color: skyblue;
}

.query_up {
    margin: 20px 0;
}

/* 教师端*/
.my_table {
    margin-top: 20px;
}

.my_class_content_backup_copy {
    border: 1px red solid;
    height: 800px;
    width: 1280px;
    background-color: white;
    overflow: hidden;
}

.tea_class_inquiry {
    width: 450px;
    height: 60px;
}