*{
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #333333;
}
.toph{
    height: 100px;
    background-color: #1ba0e1;
}
.topcon{
    width: 1200px;
    height: 100px;
    margin: 0 auto;
}
/*上面是顶部样式*/
.main{
    height: 760px;
    background-image: url(/static/img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto 50px;
}
.loginh{
    width: 380px;

    float: right;
    margin-right: 42px;
    margin-top: 120px;
    /*z-index: 1000;*/
    cursor: pointer;
    /*overflow: hidden;*/
}
.tab_n{
    float: left;
    width: 116px;
    height: 50px;
    border: 1px solid #cccccc;
    background-color: #f0f0f0;
    font-size: 14px;
    color: #5e5e5e;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
    margin-left: -1px;
}
.tab_active{
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-top: 3px solid #1ba0e1;
    background-color: #ffffff;
    color:#434343;
    margin-left: 0px;
}
/*上面是老师学生家长身份选择按钮*/
.loginbox{
    width: 349px;
    height: 400px;
    margin-top: 0px;
    float: right;
    margin-right: 30px;
    background-color: #ffffff;
    border: 1px solid #cccccc;

}
/*下面是表单所用到的样式*/
.loginbox .form-group input{
    width: 290px;margin-top: 15px;height: 38px;margin-left: 30px;
}
.loginbox .form-group p{
    margin: 10px 30px;margin-bottom: 0px;
}
.loginbox .form-inline>span img{
    display: inline-block;height:38px;margin-left: 30px;margin-top: 20px;
}
.footer{
    background-color: #ffffff;
    height: 80px;
    font-size: 14px;
    color: #969595;
    text-align: center;
    margin-top: 170px;
}
.footer a{
    text-decoration: none;
    display: inline-block;
    margin: 0px 15px;
    padding-top: 20px;
}