{% extends 'base.html' %}
{% block title %}
    个人中心
{% endblock %}


{% block content %}

    {% if role == "student" %}
        <div id="container">
            <div class="connent">
                <div class="left_menu left">
                    <div class="leftmenu">
                        <img class="person_img" src="/static/img/red%20flower.png" alt="">
                        <a for="" href="#">最新消息</a>
                    </div>
                    <div class="leftmenu">
                        <img class="person_img" src="/static/img/red%20flower.png" alt="">
                        <a for="" href="#">我的分享</a>
                    </div>
                    <div class="leftmenu">
                        <img class="person_img" src="/static/img/red%20flower.png" alt="">
                        <a for="" href="#">成就称号</a>
                    </div>
                    <div class="leftmenu sss">
                        <img class="person_img" src="/static/img/red%20flower.png" alt="">
                        <a for="" href="#">我的资料</a>

                    </div>
                    <ul class="sel-table">
                        <li>
                            <img class="little_person_img" src="/static/img/red%20flower.png" alt="">
                            个人信息
                        </li>
                        <li>
                            <img class="little_person_img" src="/static/img/red%20flower.png" alt="">
                            修改密码
                        </li>
                    </ul>
                    <div class="leftmenu">
                        <img class="person_img" src="/static/img/red%20flower.png" alt="">&nbsp;
                        <a for="" href="#">我的订单</a>
                    </div>
                    <div class="leftmenu">
                        <img class="person_img" src="/static/img/red%20flower.png" alt="">
                        <a for="" href="#">我的邀请</a>
                    </div>

                </div>

                <div class="center left">

                    <div class="home2">
                        <!-- 最新消息 -->
                    </div>
                    <div class="home2 hide">
                        <!-- 我的分享 -->
                    </div>
                    <div class="home2 hide">
                        <!-- 成就称号 -->
                    </div>
                    <div class="home2 hide">
                        <!-- 个人资料 -->
                    </div>
                    <div class="home2 hide">
                        <!-- 我的订单 -->
                    </div>
                    <div class="home2 hide">
                        <table class="table table-hover table-bordered">
                            <thead>
                            <tr>
                                <th class="success">课程名称</th>
                                <th class="info">课程时长</th>
                                <th class="danger">课程详情</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if course_obj_list %}
                                {% for course_obj in course_obj_list %}
                                    {% for course in course_obj %}
                                        <tr>
                                            <td class="success">{{ course.c_name }}</td>
                                            <td class="info">{{ course.c_count }}</td>
                                            <td class="danger">{{ course.c_detail }}</td>
                                        </tr>
                                    {% endfor %}
                                {% endfor %}
                            {% else %}
                                <tr class="info">
                                    <td align="center" colspan="3">暂无订单详情</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>

                    <div class="home2 hide">
                        <!-- 我的邀请 -->
                    </div>

                    <div class="home2 hide per_info">

                        <form action="" method="post">
                            {% csrf_token %}
                            个人信息：
                            <p>
                                <span>账号：</span><input type="text" disabled value={{ stu_obj.s_account }}>
                            </p>
                            <p>
                                <span>姓名：</span><input type="text" name="username" value={{ stu_obj.s_name }}>
                            </p>
                            <p>
                                <span>性别：</span>
                                {% if stu_obj.s_sex == 1 %}
                                    <label for=""><input type="radio" name="sex" checked="checked" value="1"> 男</label>
                                    <label for=""><input type="radio" name="sex" value="0"> 女</label>
                                {% else %}
                                    <label for=""><input type="radio" name="sex" value="1"> 男</label>
                                    <label for=""><input type="radio" name="sex" checked="checked" value="0"> 女</label>
                                {% endif %}
                            </p>
                            <p>
                                <span>年级：</span> <input type="text" style="margin-left: 27px" id="grade"
                                                        value={{ stu_obj.s_grade }}>
                            </p>
                            <p>
                                {% load str_time %}
                                <span>创建时间：</span><input type="text" disabled id="create_time"
                                                         value={{ stu_obj.s_create_time|strf_time }}>
                            </p>
                            <p>
                                <span>邮箱：</span><input type="email" id="email" value={{ stu_obj.s_email }}>
                            </p>
                            <p>
                                <span>备注：</span><input type="text" id="remark" value={{ stu_obj.s_remark }}>
                            </p>
                            <p>
                                <span>头像：</span><label for="id_avatar"><img
                                    style="margin-left: 32px;width: 100px;height: 100px;" id="avatar-img"
                                    src="{{ stu_obj.s_head_image }}" alt=""></label>
                                <input accept="image/*" type="file" name="avatar" id="id_avatar" style="display: none">
                            </p>
                            <p>
                                <input type="button" class="btn btn-success" id="save" value="点击保存">
                            </p>

                        </form>
                    </div>


                    <div class="home2 hide pwd_man">
                        <form action="" method="post">
                            {% csrf_token %}
                            修改密码：
                            <p>
                                <span>原密码：</span><input name="pwd" type="text" placeholder="请输入原密码">
                            </p>
                            <p>
                                <span>新密码：</span><input name="new_pwd" type="text" placeholder="请输入新密码">
                            </p>
                            <p>
                                <span>确认密码：</span><input name="conf_pwd" type="text" placeholder="请再次输入密码">
                            </p>
                            <p>
                                <input type="button" class="btn btn-success" id="confirm_pwd" value="确认修改">
                            </p>
                        </form>
                    </div>

                </div>


                <div class="right_menu left" style="display: none">
                    <div class="server1">
                        <div class="right_info">
                            最新动态
                        </div>
                        恭喜你喜提客服小姐姐一枚
                    </div>
                    <div class="server2">
                        <div class="right_info">
                            排行榜
                        </div>
                        {% for stu_rank in stu_rank_obj %}
                            <p>{{ stu_rank.s_name }}</p>
                        {% endfor %}

                    </div>
                </div>
                <div style="clear: both"></div>
            </div>
        </div>
    {% endif %}

    {% if role == "teacher" %}
        <div id="container">
            <div class="connent">
                <div class="left_menu left">
                    <div class="leftmenu">
                        {#                        <i class="fa fa-book" aria-hidden="true"></i>&nbsp;#}
                        <img class="person_img" src="/static/img/red%20flower.png" alt="">
                        <a for="" href="#">最新消息</a>
                    </div>
                    <div class="leftmenu">
                        <img class="person_img" src="/static/img/red%20flower.png" alt="">
                        <a for="" href="#">我的分享</a>
                    </div>
                    <div class="leftmenu">
                        <img class="person_img" src="/static/img/red%20flower.png" alt="">
                        <a for="" href="#">成就称号</a>
                    </div>
                    <div class="leftmenu sss">
                        <img class="person_img" src="/static/img/red%20flower.png" alt="">
                        <a for="" href="#">我的资料</a>
                    </div>
                    <ul class="sel-table">

                        <li>
                            <img class="little_person_img" src="/static/img/red%20flower.png" alt="">
                            个人信息
                        </li>

                        <li>
                            <img class="little_person_img" src="/static/img/red%20flower.png" alt="">
                            修改密码
                        </li>
                    </ul>

                    <div class="leftmenu">
                        <img class="person_img" src="/static/img/red%20flower.png" alt="">
                        <a for="" href="#">我的订单</a>
                    </div>
                    <div class="leftmenu">
                        <img class="person_img" src="/static/img/red%20flower.png" alt="">
                        <a for="" href="#">我的邀请</a>
                    </div>

                </div>

                <div class="center left">

                    <div class="home2">
                        <!-- 最新消息 -->
                    </div>
                    <div class="home2 hide">
                        <!-- 我的分享 -->
                    </div>
                    <div class="home2 hide">
                        <!-- 成就称号 -->
                    </div>
                    <div class="home2 hide">
                        <!-- 个人资料 -->
                    </div>
                    <div class="home2 hide">
                        <!-- 我的订单 -->
                    </div>
                    <!-- 6 -->
                    <div class="home2 hide">
                        <table class="table table-hover table-bordered">
                            <thead>
                            <tr>
                                <th class="success">课程名称</th>
                                <th class="info">课程时长</th>
                                <th class="danger">课程详情</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% if book_list %}
                                {% for book in book_list %}
                                    <tr>
                                        <td class="success">{{ book.d_name }}</td>
                                        <td class="info">{{ book.d_number }}</td>
                                        <td class="danger">{{ book.d_detail }}</td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr class="info">
                                    <td align="center" colspan="3">暂无订单详情</td>
                                </tr>
                            {% endif %}


                            </tbody>
                        </table>
                    </div>

                    <div class="home2 hide">
                        <!-- 我的邀请 -->
                    </div>

                    <!--个人信息-->
                    <div class="home2 hide per_info">
                        <form action="" method="post">
                            {% csrf_token %}
                            个人信息：
                            <p>
                                <span>账号：</span><input type="text" disabled value={{ tea_obj.t_account }}>
                            </p>
                            <p>
                                <span>姓名：</span><input name="username" type="text" value={{ tea_obj.t_name }}>
                            </p>
                            <p>
                                <span>性别：</span>
                                {% if tea_obj.t_sex == 1 %}
                                    <label for=""><input type="radio" name="sex" checked="checked" value="1"> 男</label>
                                    <label for=""><input type="radio" name="sex" value="0"> 女</label>
                                {% else %}
                                    <label for=""><input type="radio" name="sex" value="1"> 男</label>
                                    <label for=""><input type="radio" name="sex" checked="checked" value="0"> 女</label>
                                {% endif %}
                            </p>
                            <p>
                                <span>年龄：</span><input id="age" type="text" value={{ tea_obj.t_age }}>
                            </p>
                            <p>
                                {% load str_time %}
                                <span>创建时间：</span><input type="text" disabled
                                                         value={{ tea_obj.t_create_time|strf_time }}>
                            </p>
                            <p>
                                <span>学历：</span><input type="text" disabled value={{ tea_obj.t_degre }}>
                            </p>
                            <p>
                                <span>备注：</span><input type="text" id="remark" value={{ tea_obj.t_remark }}>
                            </p>
                            <p>
                                <span>头像：</span><label for="id_avatar"><img
                                    style="margin-left: 32px;width: 100px;height: 100px;" id="avatar-img"
                                    src="{{ tea_obj.t_head_image }}" alt=""></label>
                                <input accept="image/*" type="file" name="avatar" id="id_avatar" style="display: none">
                            </p>
                            <p>
                                <input type="button" class="btn btn-success" id="save" value="点击保存">
                            </p>

                        </form>
                    </div>

                    <!-- 我的订单-->
                    <div class="home2 hide pwd_man">
                        <form action="" method="post">
                            {% csrf_token %}
                            修改密码：
                            <p>
                                <span>原密码：</span><input name="pwd" type="password" placeholder="请输入原密码">
                            </p>
                            <p>
                                <span>新密码：</span><input name="new_pwd" type="password" placeholder="请输入新密码">
                            </p>
                            <p>
                                <span>确认密码：</span><input name="conf_pwd" type="password" placeholder="请再次输入密码">
                            </p>
                            <p>
                                <input type="button" class="btn btn-success" id="confirm_pwd" value="确认修改">
                            </p>
                        </form>
                    </div>

                </div>

                <div class="right_menu left" style="display: none">
                    <div class="server1">
                        <div class="right_info">
                            最新动态
                        </div>
                        恭喜你喜提客服小姐姐一枚
                    </div>
                    <div class="server2">
                        <div class="right_info">
                            排行榜
                        </div>
                        {% for stu_rank in stu_rank_obj %}
                            <p>{{ stu_rank.s_name }}</p>
                        {% endfor %}

                    </div>
                </div>
                <div style="clear: both"></div>
            </div>
        </div>
    {% endif %}


    <div class="info">
        {% csrf_token %}
    </div>
    <script>
        $('.leftmenu').click(function () {
            $(this).addClass('active');
            $(this).siblings().removeClass('active');
        });
        $(function () {
            $('.left_menu div').click(function () {
                $(".center").children().eq($(this).index()).addClass("show").siblings().removeClass("show").addClass("hide");
            })
        });
        $(function () {
            $('.mynav li').click(function () {
                $(this).css('background', '#7282FF').siblings().css('background', '');

            });
        });
        $(function () {
            $('.sss').click(function () {
                {#$(this).css('height','200px');#}
                $('.sel-table').slideToggle();
            })
        });
        $(function () {
            $('.sel-table li:first-child').click(function () {
                $(this).addClass('active').siblings().removeClass('active').parents().siblings().removeClass('active');
                $('.per_info').addClass('show').siblings().removeClass('show');
            })
        });
        $(function () {
            $('.sel-table li:last-child').click(function () {
                $(this).addClass('active').siblings().removeClass('active').parents().siblings().removeClass('active');
                $('.pwd_man').addClass('show').siblings().removeClass('show');
            })
        });


        // 找到头像的input标签绑定change事件
        $("#id_avatar").change(function () {
            // 1. 创建一个读取文件的对象
            var fileReader = new FileReader();
            // 取到当前选中的头像文件
            // console.log(this.files[0]);
            // 读取你选中的那个文件
            fileReader.readAsDataURL(this.files[0]);  // 读取文件是需要时间的
            fileReader.onload = function () {
                // 2. 等上一步读完文件之后才 把图片加载到img标签中
                $("#avatar-img").attr("src", fileReader.result);
            };
        });

        var gentle = $("[checked='checked']").val();
        $("[name='sex']").click(function () {
            gentle = $(this).val();
        });

        $("#save").click(function () {
            var formData = new FormData();
            formData.append("username", $("[name='username']").val());
            formData.append("email", email = $("#email").val());
            formData.append("remark", remark = $("#remark").val());
            formData.append("sex", gentle);
            formData.append("grade", grade = $("#grade").val());
            formData.append("age", age = $("#age").val());
            formData.append("avatar", $("#id_avatar")[0].files[0]);
            formData.append("csrfmiddlewaretoken", $("[name='csrfmiddlewaretoken']").val());
            $.ajax({
                url: '/confirm_center/',
                type: "POST",
                processData: false,
                contentType: false,
                data: formData,
                success: function (arg) {
                    if (arg.status) {
                        alert(arg.msg)
                    }
                }
            })
        });

        $("#confirm_pwd").click(function () {
            var pwd = $("[name='pwd']").val();
            var new_pwd = $("[name='new_pwd']").val();
            var conf_pwd = $("[name='conf_pwd']").val();
            $.ajax({
                url: '/confirm_pwd/',
                type: "POST",
                dataType: "json",
                data: {
                    pwd: pwd,
                    new_pwd: new_pwd,
                    conf_pwd: conf_pwd,
                    csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val()
                },
                success: function (arg) {
                    if (arg.status) {
                        alert(arg.msg)
                    } else {
                        alert(arg.msg)
                    }
                }
            })
        });


    </script>

{% endblock %}


