{% extends "index_base.html" %}


{% block article %}
    <div id="fh5co-pricing">
        <div class="container">
            <div class="row">
                <div class="pricing">
                    <div class="col-md-3 animate-box">
                        <div class="price-box">
                            <h2 class="pricing-plan">C语言</h2>
                            <div class="price"><sup class="currency">￥</sup>888
                                <small>/年</small>
                            </div>
                            <ul class="classes">
                                <li>信息一</li>
                                <li class="color">信息二</li>
                                <li>信息三</li>
                                <li class="color">信息四</li>
                                <li>信息五</li>
                                <li class="color">信息六</li>
                                <li>信息七</li>
                            </ul>
                            <a href="#" class="btn btn-select-plan btn-sm">购买课程</a>
                        </div>
                    </div>

                    <div class="col-md-3 animate-box">
                        <div class="price-box">
                            <h2 class="pricing-plan">C语言</h2>
                            <div class="price"><sup class="currency">￥</sup>888
                                <small>/年</small>
                            </div>
                            <ul class="classes">
                                <li>信息一</li>
                                <li class="color">信息二</li>
                                <li>信息三</li>
                                <li class="color">信息四</li>
                                <li>信息五</li>
                                <li class="color">信息六</li>
                                <li>信息七</li>
                            </ul>
                            <a href="#" class="btn btn-select-plan btn-sm">购买课程</a>
                        </div>
                    </div>

                    <div class="col-md-3 animate-box">
                        <div class="price-box">
                            <h2 class="pricing-plan">C语言</h2>
                            <div class="price"><sup class="currency">￥</sup>888
                                <small>/年</small>
                            </div>
                            <ul class="classes">
                                <li>信息一</li>
                                <li class="color">信息二</li>
                                <li>信息三</li>
                                <li class="color">信息四</li>
                                <li>信息五</li>
                                <li class="color">信息六</li>
                                <li>信息七</li>
                            </ul>
                            <a href="#" class="btn btn-select-plan btn-sm">购买课程</a>
                        </div>
                    </div>

                    <div class="col-md-3 animate-box">
                        <div class="price-box">
                            <h2 class="pricing-plan">C语言</h2>
                            <div class="price"><sup class="currency">￥</sup>888
                                <small>/年</small>
                            </div>
                            <ul class="classes">
                                <li>信息一</li>
                                <li class="color">信息二</li>
                                <li>信息三</li>
                                <li class="color">信息四</li>
                                <li>信息五</li>
                                <li class="color">信息六</li>
                                <li>信息七</li>
                            </ul>
                            <a href="#" class="btn btn-select-plan btn-sm">购买课程</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}