{% extends 'base.html' %}

{% block title %}课程管理{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/m_student.css">
    <style>
        .wth {
            display: inline-block;
            width: 221px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            course: hand;
            border: 1px solid rgb(223, 240, 216);
        {#height: 40px;#}
        }

        .wth:hover {
            text-overflow: inherit;
            overflow: visible;
            white-space: pre-wrap;
        }

        .su {
            width: 237px;
            border: 1px solid rgb(223, 240, 216);
        }

        .su4 {
            width: 250px;
            border: 1px solid rgb(223, 240, 216);
        }

        .su5 {
            width: 250px;
            border: 1px solid rgb(223, 240, 216);
        }

        .sus {
            width: 185px;
            border: 1px solid rgb(223, 240, 216);
        }

    </style>
{% endblock %}

{% block content %}
    <div class="m_body">
        <div class="m_leftmenu">
            <div class="m_menu actions">
                <i class="fa fa-book" aria-hidden="true"></i>&nbsp;
                <a href="#">我的课程进度</a>
            </div>
            <div class="m_menu">
                <i class="fa fa-tasks" aria-hidden="true"></i>&nbsp;
                <a href="#">我的课程计划</a>
            </div>
            <div class="m_menu">
                <i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;
                <a href="#">已完成课时</a>
            </div>
            <div class="m_menu">
                <i class="fa fa-times-circle" aria-hidden="true"></i>&nbsp;
                <a href="#">已取消课时</a>
            </div>
            <div class="m_menu">
                <i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;
                <a href="#">我的预约课</a>
            </div>
            <div class="m_menu">
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>&nbsp;
                <a href="#">上课提醒设置</a>
            </div>
            <div class="m_menu">
                <i class="fa fa-paint-brush" aria-hidden="true"></i> &nbsp;
                <a href="#">测试课</a>
            </div>

        </div>
        <div class="m_content">
            <div class="m_hide m m_1  show">
                <table class="m_1_table table table-hover">
                    {% if course_list.count == 0 %}
                        <thead>
                        <tr>
                            <td class="su success">课程名称</td>
                            <td class="su success">已预约课时</td>
                            <td class="su success wth">课程介绍</td>
                            <td class="su success wth">备注</td>
                        </tr>
                        </thead>

                    {% else %}
                        {% for row in course_list %}
                            {% if  row.c_name == '预约课' %}
                                <thead>
                                <tr>
                                    <td class="su success">课程名称</td>
                                    <td class="su success">已预约课时</td>
                                    <td class="su success wth">课程介绍</td>
                                    <td class="su success wth">备注</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="su ">{{ row.c_name }}</td>
                                    <td class="su ">{{ row.c_count }}</td>
                                    <td class="su wth">{{ row.c_detail }}</td>
                                    <td class="su wth">{{ row.c_remark }}</td>
                                </tr>
                                </tbody>
                            {% else %}
                                <thead>
                                <tr>
                                    <td class="su success">课程名称</td>
                                    <td class="su success">已购买课时</td>
                                    <td class="su success wth">课程介绍</td>
                                    <td class="su success wth">备注</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="su ">{{ row.c_name }}</td>
                                    <td class="su ">{{ row.c_count }}</td>
                                    <td class="su wth">{{ row.c_detail }}</td>
                                    <td class="su wth">{{ row.c_remark }}</td>
                                </tr>
                                </tbody>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </table>
            </div>
            <div class="m m_2 m_hide">
                {#            <div class="m_search">#}
                {#                <span>课程名称:</span>&nbsp;#}
                {#                <select id="city" class="select">#}
                {#                    <option>请选择课程</option>#}
                {#                    <option value="1">课程一</option>#}
                {#                    <option value="2">课程二</option>#}
                {#                </select>&nbsp;&nbsp;#}
                {#                <span>任课老师:</span>&nbsp;#}
                {#                <select id="city" class="select">#}
                {#                    <option>请选择任课老师</option>#}
                {#                    <option value="1">老师一</option>#}
                {#                    <option value="2">老师二</option>#}
                {#                </select>&nbsp;&nbsp;#}
                {#                <a style="margin-left: 20px" type="button" class="btn btn-info">查询</a>#}
                {#            </div>#}
                <table class="m_2_table table table-hover">
                    <thead>
                    <tr>
                        <td class="success su">课程名称</td>
                        <td class="success su" style="width: 100px;">任课老师</td>
                        <td class="success su" style="width: 100px;">上课时间</td>
                        <td class="success su">课程链接</td>
                        <td class="success su" style="width: 50px;">状态</td>
                        <td class="success wth">操作</td>
                    </tr>
                    </thead>
                    <tbody id="class_tbody" class="td">
                    {% load str_time %}
                    {% for row in grent_join_url %}
                        <tr nid="{{ row.grent_sid }}">
                            <td class=" su" na="grent_d_name">{{ row.grent_d_name }}</td>
                            <td class=" su" na="grent_t_name">{{ row.grent_t_name }}</td>

                            {% if  row.grent_time == location_time %}
                                <td class=" su" na="grent_time">{{ row.grent_time }}</td>
                                {% if  row.grent_j_url != 'error' %}
                                    <td class=" su" na="grent_j_url"><a
                                            href="http://{{ grent_join_urlstrd_time }}">点击上课</a></td>
                                {% else %}
                                    <td class=" su" na="grent_j_url">暂无连接</td>
                                {% endif %}
                            {% else %}
                                <td class=" su" na="grent_time">{{ row.grent_time|strd_time }}</td>
                                <td class=" su" na="grent_j_url">暂无连接</td>
                            {% endif %}
                            {% if row.grent_record == '0' %}
                                <td class=" su" na="grent_record">未上课</td>
                            {% elif row.grent_record == '1' %}
                                <td class=" su" na="grent_record">已完成</td>
                            {% else %}
                                <td class=" su" na="grent_record">已取消</td>
                            {% endif %}

                            <td class="">
                                {% if row.grent_record == '1' %}
                                    <a href="#" class="evaluate fa fa-comments" style="color: dodgerblue"></a>&nbsp;
                                    &nbsp;|&nbsp;
                                    &nbsp;
                                    <a href="/evaluate?sid={{ row.grent_sid }}" class="fa fa-search-plus"></a>
                                {% else %}
                                    <a href="#" class="noevaluate fa fa-ban" style="color: red"></a>&nbsp;&nbsp;|&nbsp;
                                    &nbsp;
                                    <a href="/evaluate?sid={{ row.grent_sid }}" class="fa fa-search-plus"></a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>

                <!-- 编辑学生 -->
                <div class="modal fade" id="EvaluateTeacher" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">评价老师</h4>
                            </div>
                            <div class="modal-body">
                                <form class="form-horizontal" id="forms">
                                    {% csrf_token %}
                                    <div class="form-group m_hide">
                                        <label for="inpute_sid_id" class="col-sm-2 control-label tes">学生姓名:</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="e_sid_id" class="form-control te"
                                                   placeholder="学生姓名"
                                                   value="{{ sid_id }}">
                                        </div>
                                    </div>

                                    <div class="form-group m_hide">
                                        <label for="inputgrent_record"
                                               class="col-sm-2 control-label tes">状态:</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="grent_record" class="form-control te"
                                                   id="e_stot_score"
                                                   placeholder="状态">
                                        </div>
                                    </div>

                                    <div class="form-group  m_hide">
                                        <label for="inputgrent_j_url"
                                               class="col-sm-2 control-label tes">课程链接:</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="grent_j_url" class="form-control te"
                                                   id="grent_j_url"
                                                   placeholder="课程链接">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputgrent_time"
                                               class="col-sm-2 control-label tes">上课时间:</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="grent_time" class="form-control te"
                                                   id="grent_time"
                                                   placeholder="上课时间">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputgrent_t_name" class="col-sm-2 control-label tes">老师姓名:</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control te" name="grent_t_name" id="e_tid"
                                                   placeholder="老师姓名">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputgrent_d_name" class="col-sm-2 control-label tes">课程名:</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control te" name="grent_d_name"
                                                   id="e_ttos_score"
                                                   placeholder="课程名">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inpute_stot_evaluate"
                                               class="col-sm-2 control-label tes">学生对老师的评价:</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="e_stot_evaluate" class="form-control te"
                                                   id="e_stot_evaluate"
                                                   placeholder="学生对老师的评价">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inpute_ttos_score"
                                               class="col-sm-2 control-label tes">学生对老师的打分:</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="e_stot_score" class="form-control te"
                                                   id="e_stot_score"
                                                   placeholder="学生对老师的打分">
                                        </div>
                                    </div>
                                </form>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                <button type="button" class="btn btn-primary" id="evaluateteacher">保存</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m m_3 m_hide">
                {#            <div class="m_search">#}
                {#                <span>课程名称:</span>&nbsp;#}
                {#                <select id="city" class="select">#}
                {#                    <option>请选择课程</option>#}
                {#                    <option value="1">课程一</option>#}
                {#                    <option value="2">课程二</option>#}
                {#                </select>&nbsp;&nbsp;#}
                {#                <span>任课老师:</span>&nbsp;#}
                {#                <select id="city" class="select">#}
                {#                    <option>请选择任课老师</option>#}
                {#                    <option value="1">老师一</option>#}
                {#                    <option value="2">老师二</option>#}
                {#                </select>&nbsp;&nbsp;#}
                {#                <span>是否评价:</span>&nbsp;#}
                {#                <select id="city" class="select">#}
                {#                    <option>请选择</option>#}
                {#                    <option value="1">未评价</option>#}
                {#                    <option value="2">已评价</option>#}
                {#                </select>&nbsp;&nbsp;#}
                {#                <a style="margin-left: 20px" type="button" class="btn btn-info">查询</a>#}
                {#            </div>#}
                <table class="m_1_table table table-hover">
                    <thead>
                    <tr>
                        <td class="success sus">课程名称</td>
                        <td class="success sus">课程章节</td>
                        <td class="success sus">课程时长</td>
                        <td class="success wth">简介</td>
                        <td class="success wth">课堂反馈</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for g in grent_list %}
                        {% for row in detail_list %}
                            {% for e in evaluate_list %}
                                {# 状态为1 表示已完成课#}
                                {% if g.g_did_id == row.d_id and g.g_record == '1' %}
                                    {% if row.d_id == e.e_did_id %}
                                        {% if e.e_ttos_evaluate == null %}
                                            <tr>
                                                <td class="">{{ row.d_name }}</td>
                                                <td class="">{{ row.d_number }}</td>
                                                <td class="">{{ row.d_time_length }}</td>
                                                <td class="wth">{{ row.d_remark }}</td>
                                                <td class="wth">{{ e.e_stot_evaluate }}</td>
                                            </tr>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="m m_4 m_hide">
                {#            <div class="m_search">#}
                {#                <span>课程名称:</span>&nbsp;#}
                {#                <select id="city" class="select">#}
                {#                    <option>请选择课程</option>#}
                {#                    <option value="1">课程一</option>#}
                {#                    <option value="2">课程二</option>#}
                {#                </select>&nbsp;&nbsp;#}
                {#                <span>任课老师:</span>&nbsp;#}
                {#                <select id="city" class="select">#}
                {#                    <option>请选择任课老师</option>#}
                {#                    <option value="1">老师一</option>#}
                {#                    <option value="2">老师二</option>#}
                {#                </select>&nbsp;&nbsp;#}
                {#                <span>课程状态:</span>&nbsp;#}
                {#                <select id="city" class="select">#}
                {#                    <option>请选择</option>#}
                {#                    <option value="1">未开课</option>#}
                {#                    <option value="2">进行中</option>#}
                {#                    <option value="3">已结束</option>#}
                {#                    <option value="4">已取消</option>#}
                {#                </select>&nbsp;&nbsp;#}
                {#                <a style="margin-left: 20px;" type="button" class="btn btn-info">查询</a>#}
                {#            </div>#}
                <table class="m_1_table table table-hover">
                    <thead>
                    <tr>
                        <td class="su4 success">课程名称</td>
                        <td class="su4 success">课程章节</td>
                        <td class="su4 success">课程时长</td>
                        <td class="su4 success wth">简介</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for g in grent_list %}
                        {% for row in detail_list %}
                            <tr>
                                {# 状态为2 表示与取消课#}
                                {% if g.g_did_id == row.d_id and g.g_record == '2' %}
                                    <td class="su4 ">{{ row.d_name }}</td>
                                    <td class="su4 ">{{ row.d_number }}</td>
                                    <td class="su4 ">{{ row.d_time_length }}</td>
                                    <td class="wth">{{ row.d_remark }}</td>
                                {% endif %}
                            </tr>

                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="m m_5 m_hide">
                {#            <div class="m_search">#}
                {#                <span>课程名称:</span>&nbsp;#}
                {#                <select id="city" class="select">#}
                {#                    <option>请选择课程</option>#}
                {#                    <option value="1">课程一</option>#}
                {#                    <option value="2">课程二</option>#}
                {#                </select>&nbsp;&nbsp;#}
                {#                <span>任课老师:</span>&nbsp;#}
                {#                <select id="city" class="select">#}
                {#                    <option>请选择任课老师</option>#}
                {#                    <option value="1">老师一</option>#}
                {#                    <option value="2">老师二</option>#}
                {#                </select>&nbsp;&nbsp;#}
                {#                <a style="margin-left: 20px" type="button" class="btn btn-info">查询</a>#}
                {#            </div>#}
                <table class="m_1_table table table-hover">
                    <thead>
                    <tr>
                        <td class="su5 success wth">课程名称</td>
                        <td class="su5 success">课程章节</td>
                        <td class="su5 success">课程时长</td>
                        <td class="su5 success wth">简介</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for c in course_list %}
                        {% for row in detail_list %}
                            {% if row.d_cid_id == c.c_id and c.c_name == '预约课' %}
                                <tr>
                                    <td class="su wth">{{ row.d_name }}</td>
                                    <td class="su ">{{ row.d_number }}</td>
                                    <td class="su ">{{ row.d_time_length }}</td>
                                    <td class="wth">{{ row.d_remark }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="m m_6 m_hide">
                <div class="m_6_remind">
                    <div>
                        <form action="#">
                            <span>短息提醒：</span>&nbsp;
                            <input type="radio" name="remind" value="1">提醒
                            <input type="radio" name="remind" value="0" checked>不提醒
                        </form>
                        <p>
                            <a style="margin-top: 20px;margin-left: 20px" type="button" class="btn btn-info">设置</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="m_7 m m_hide">
                <a style="margin-top: 20px;margin-left: 20px" type="button" class="btn btn-info">进入房间</a>
            </div>
        </div>


    </div>
    <script src="/static/js/jquery-3.3.1.js"></script>
    <script src="/static/plug/bootstrap/js/bootstrap.js"></script>
    <script>
        $(function () {
            bindEvaluateteacher();
            bindEvent();
            bindmenu();
            bindEditConfirm();
            bindEvaluteConfirm();

        });
        {#评价#}

        function bindEvaluateteacher() {
            $('.noevaluate').click(function () {
                alert('课程还未上完或已取消，暂不可评价')
            });
            $('.td').on('click', '.evaluate', function () {
                $('#EvaluateTeacher').modal('show');

                $(this).parent().prevAll().each(function () {
                    var v = $(this).text();
                    var n = $(this).attr('na');
                    $("#EvaluateTeacher input[name='" + n + "']").val(v)

                })
            });
        }

        function bindEvaluteConfirm() {
            $('#evaluateteacher').click(function () {
                var portData = {};
                $('#forms').find('input').each(function () {
                    var v = $(this).val();
                    var n = $(this).attr('name');
                    portData[n] = v;
                });
                $.ajax({
                    url: '/student/',
                    type: 'POST',
                    dataType: 'JSON',
                    data: portData,
                    success: function (arg) {
                        if (arg.status) {
                            {#createRow(portData, arg.data);#}
                            alert(arg.inf);
                            window.location.reload();
                            $('#myModal').modal('hide');

                        }
                        else {
                            {#$('#class_error').text(arg.inf);#}
                            alert(arg.inf);
                        }
                    }
                })


            })

        }


        function bindEditConfirm() {
            $('.btns').click(function () {
                var postData = {};
                $('#fm').find('input, select').each(function () {
                    var v = $(this).val();
                    var n = $(this).attr('name');
                    postData[n] = v;

                });
                console.log(postData);
                $.ajax({
                    url: '/student/',
                    type: 'POST',
                    dataType: 'JSON',
                    data: postData,
                    success: function (arg) {
                        if (arg.status) {
                            alert(arg.inf);
                        }
                        else {
                            {#$('#stu_error').text(arg.inf);#}
                            {#window.location.reload()#}
                            alert(arg.inf);
                        }

                    }
                });

            });
        }

        function bindmenu() {
            $('.m_menu').click(function () {
                $(this).addClass('actions');
                $(this).siblings().removeClass('actions')
            });
        }

        function bindEvent() {
            $('.m_leftmenu div').click(function () {
                $(".m_content").children().eq($(this).index()).addClass("show").siblings().removeClass("show");

            })
        }

    </script>
{% endblock %}