{% extends 'base.html' %}

{% block title %}课程管理{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/m_student.css">
    <style>
        .wth {
            display: inline-block;
            width: 221px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            course: hand;
            border: 1px solid rgb(223, 240, 216);
        {#height: 40px;#}
        }

        .wth:hover {
            text-overflow: inherit;
            overflow: visible;
            white-space: pre-wrap;
        {#border: 1px solid rgb(223, 240, 216);#}
        }

        .su {
            width: 237px;
            border: 1px solid rgb(223, 240, 216);
        }

        .su4 {
            width: 250px;
            border: 1px solid rgb(223, 240, 216);
        }

        .su5 {
            width: 250px;
            border: 1px solid rgb(223, 240, 216);
        }

        .sus {
            width: 185px;
            border: 1px solid rgb(223, 240, 216);
        }

    </style>
{% endblock %}

{% block content %}
    <div class="m_body">
        <div class="m_leftmenu">
            <div class="m_menu actions">
                <i class="fa fa-book" aria-hidden="true"></i>&nbsp;
                <a href="#">我的课程进度</a>
            </div>
            <div class="m_menu">
                <i class="fa fa-tasks" aria-hidden="true"></i>&nbsp;
                <a href="#">我的课程计划</a>
            </div>
            <div class="m_menu">
                <i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;
                <a href="#">已完成课时</a>
            </div>
            <div class="m_menu">
                <i class="fa fa-times-circle" aria-hidden="true"></i>&nbsp;
                <a href="#">已取消课时</a>
            </div>
            <div class="m_menu">
                <i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;
                <a href="#">我的预约课</a>
            </div>
            <div class="m_menu">
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>&nbsp;
                <a href="#">上课提醒设置</a>
            </div>
            <div class="m_menu">
                <i class="fa fa-paint-brush" aria-hidden="true"></i> &nbsp;
                <a href="#">测试课</a>
            </div>
            <div class="m_menu">
                <i class="fa fa-paint-brush" aria-hidden="true"></i> &nbsp;
                <a href="#">评价</a>
            </div>

        </div>
        <div class="m_content">
            <div class="m_hide m m_1  show">
                <table class="m_1_table table table-hover">
                    {% if course_list.count == 0 %}
                        <thead>
                        <tr>
                            <td class="su success">课程名称</td>
                            <td class="su success">已预约课时</td>
                            <td class="su success wth">课程介绍</td>
                            <td class="su success wth">备注</td>
                        </tr>
                        </thead>

                    {% else %}
                    {% for row in course_list %}
                        {% if  row.c_name == '预约课' %}
                            <thead>
                            <tr>
                                <td class="su success">课程名称</td>
                                <td class="su success">已预约课时</td>
                                <td class="su success wth">课程介绍</td>
                                <td class="su success wth">备注</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="su ">{{ row.c_name }}</td>
                                <td class="su ">{{ row.c_count }}</td>
                                <td class="su wth">
                                    {{ row.c_detail }}
                                </td>
                                <td class="su wth">{{ row.c_remark }}</td>
                            </tr>
                            </tbody>
                        {% else %}
                            <thead>
                            <tr>
                                <td class="su success">课程名称</td>
                                <td class="su success">已购买课时</td>
                                <td class="su success wth">课程介绍</td>
                                <td class="su success wth">备注</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="su ">{{ row.c_name }}</td>
                                <td class="su ">{{ row.c_count }}</td>
                                <td class="su wth">
                                    {{ row.c_detail }}
                                </td>
                                <td class="su wth">{{ row.c_remark }}</td>
                            </tr>
                            </tbody>
                        {% endif %}
                    {% endfor %}
                    {% endif %}
                </table>
            </div>
            <div class="m m_2 m_hide">
                {#            <div class="m_search">#}
                {#                <span>课程名称:</span>&nbsp;#}
                {#                <select id="city" class="select">#}
                {#                    <option>请选择课程</option>#}
                {#                    <option value="1">课程一</option>#}
                {#                    <option value="2">课程二</option>#}
                {#                </select>&nbsp;&nbsp;#}
                {#                <span>任课老师:</span>&nbsp;#}
                {#                <select id="city" class="select">#}
                {#                    <option>请选择任课老师</option>#}
                {#                    <option value="1">老师一</option>#}
                {#                    <option value="2">老师二</option>#}
                {#                </select>&nbsp;&nbsp;#}
                {#                <a style="margin-left: 20px" type="button" class="btn btn-info">查询</a>#}
                {#            </div>#}
                <table class="m_2_table table table-hover">
                    <thead>
                    <tr>
                        <td class="success su">课程名称</td>
                        <td class="success su" style="width: 100px;">任课老师</td>
                        <td class="success su" style="width: 100px;">上课时间</td>
                        <td class="success su">课程链接</td>
                        <td class="success su" style="width: 50px;">状态</td>
                        <td class="success wth">操作</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in grent_join_url %}
                        <tr>
                            <td class=" su">{{ row.grent_d_name }}</td>
                            <td class=" su">{{ row.grent_t_name }}老师</td>
                            {% if  row.grent_time == location_time %}
                                <td class=" su">{{ row.grent_time }}</td>
                                {% if  row.grent_j_url != 'error' %}
                                    <td class=" su"><a href="http://{{ grent_join_url }}">点击上课</a></td>
                                {% else %}
                                    <span>暂无连接</span>
                                {% endif %}
                            {% else %}
                                <td class=" su">{{ row.grent_time }}</td>
                                <td class=" su">暂无连接</td>
                            {% endif %}
                            {% if row.grent_record == '0' %}
                                <td class=" su">未上课</td>
                            {% elif row.grent_record == '1' %}
                                <td class=" su">已完成</td>
                            {% else %}
                                <td class=" su">已取消</td>
                            {% endif %}

                            <td class="wth"><a href="/evaluate?sid={{ row.grent_sid }}">查看评价</a></td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
            <div class="m m_3 m_hide">
                {#            <div class="m_search">#}
                {#                <span>课程名称:</span>&nbsp;#}
                {#                <select id="city" class="select">#}
                {#                    <option>请选择课程</option>#}
                {#                    <option value="1">课程一</option>#}
                {#                    <option value="2">课程二</option>#}
                {#                </select>&nbsp;&nbsp;#}
                {#                <span>任课老师:</span>&nbsp;#}
                {#                <select id="city" class="select">#}
                {#                    <option>请选择任课老师</option>#}
                {#                    <option value="1">老师一</option>#}
                {#                    <option value="2">老师二</option>#}
                {#                </select>&nbsp;&nbsp;#}
                {#                <span>是否评价:</span>&nbsp;#}
                {#                <select id="city" class="select">#}
                {#                    <option>请选择</option>#}
                {#                    <option value="1">未评价</option>#}
                {#                    <option value="2">已评价</option>#}
                {#                </select>&nbsp;&nbsp;#}
                {#                <a style="margin-left: 20px" type="button" class="btn btn-info">查询</a>#}
                {#            </div>#}
                <table class="m_1_table table table-hover">
                    <thead>
                    <tr>
                        <td class="success sus">课程名称</td>
                        <td class="success sus">课程章节</td>
                        <td class="success sus">课程时长</td>
                        <td class="success wth">简介</td>
                        <td class="success wth">课堂反馈</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for g in grent_list %}
                        {% for row in detail_list %}
                            {% for e in evaluate_list %}
                                {# 状态为1 表示已完成课#}
                                {% if g.g_did_id == row.d_id and g.g_record == '1' %}
                                    {% if row.d_id == e.e_did_id %}
                                        {% if e.e_ttos_evaluate == null %}
                                            <tr>
                                                <td class="">{{ row.d_name }}</td>
                                                <td class="">{{ row.d_number }}</td>
                                                <td class="">{{ row.d_time_length }}</td>
                                                <td class="wth">{{ row.d_remark }}</td>
                                                <td class="wth">{{ e.e_stot_evaluate }}</td>
                                            </tr>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="m m_4 m_hide">
                {#            <div class="m_search">#}
                {#                <span>课程名称:</span>&nbsp;#}
                {#                <select id="city" class="select">#}
                {#                    <option>请选择课程</option>#}
                {#                    <option value="1">课程一</option>#}
                {#                    <option value="2">课程二</option>#}
                {#                </select>&nbsp;&nbsp;#}
                {#                <span>任课老师:</span>&nbsp;#}
                {#                <select id="city" class="select">#}
                {#                    <option>请选择任课老师</option>#}
                {#                    <option value="1">老师一</option>#}
                {#                    <option value="2">老师二</option>#}
                {#                </select>&nbsp;&nbsp;#}
                {#                <span>课程状态:</span>&nbsp;#}
                {#                <select id="city" class="select">#}
                {#                    <option>请选择</option>#}
                {#                    <option value="1">未开课</option>#}
                {#                    <option value="2">进行中</option>#}
                {#                    <option value="3">已结束</option>#}
                {#                    <option value="4">已取消</option>#}
                {#                </select>&nbsp;&nbsp;#}
                {#                <a style="margin-left: 20px;" type="button" class="btn btn-info">查询</a>#}
                {#            </div>#}
                <table class="m_1_table table table-hover">
                    <thead>
                    <tr>
                        <td class="su4 success">课程名称</td>
                        <td class="su4 success">课程章节</td>
                        <td class="su4 success">课程时长</td>
                        <td class="su4 success wth">简介</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for g in grent_list %}
                        {% for row in detail_list %}
                            <tr>
                                {# 状态为2 表示与取消课#}
                                {% if g.g_did_id == row.d_id and g.g_record == '2' %}
                                    <td class="su4 ">{{ row.d_name }}</td>
                                    <td class="su4 ">{{ row.d_number }}</td>
                                    <td class="su4 ">{{ row.d_time_length }}</td>
                                    <td class="wth">{{ row.d_remark }}</td>
                                {% endif %}
                            </tr>

                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="m m_5 m_hide">
                {#            <div class="m_search">#}
                {#                <span>课程名称:</span>&nbsp;#}
                {#                <select id="city" class="select">#}
                {#                    <option>请选择课程</option>#}
                {#                    <option value="1">课程一</option>#}
                {#                    <option value="2">课程二</option>#}
                {#                </select>&nbsp;&nbsp;#}
                {#                <span>任课老师:</span>&nbsp;#}
                {#                <select id="city" class="select">#}
                {#                    <option>请选择任课老师</option>#}
                {#                    <option value="1">老师一</option>#}
                {#                    <option value="2">老师二</option>#}
                {#                </select>&nbsp;&nbsp;#}
                {#                <a style="margin-left: 20px" type="button" class="btn btn-info">查询</a>#}
                {#            </div>#}
                <table class="m_1_table table table-hover">
                    <thead>
                    <tr>
                        <td class="su5 success wth">课程名称</td>
                        <td class="su5 success">课程章节</td>
                        <td class="su5 success">课程时长</td>
                        <td class="su5 success wth">简介</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for c in course_list %}
                        {% for row in detail_list %}
                            {% if row.d_cid_id == c.c_id and c.c_name == '预约课' %}
                                <tr>
                                    <td class="su wth">{{ row.d_name }}</td>
                                    <td class="su ">{{ row.d_number }}</td>
                                    <td class="su ">{{ row.d_time_length }}</td>
                                    <td class="wth">{{ row.d_remark }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="m m_6 m_hide">
                <div class="m_6_remind">
                    <div>
                        <form action="#">
                            <span>短息提醒：</span>&nbsp;
                            <input type="radio" name="remind" value="1">提醒
                            <input type="radio" name="remind" value="0" checked>不提醒
                        </form>
                        <p>
                            <a style="margin-top: 20px;margin-left: 20px" type="button" class="btn btn-info">设置</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="m_7 m m_hide">
                <a style="margin-top: 20px;margin-left: 20px" type="button" class="btn btn-info">进入房间</a>
            </div>
            <div class="m_8 m m_hide">
                <div class="form_box">
                    <form action="/student/" method="POST" id="fm">
                        {% csrf_token %}
                        <div class="form-group m_hide">
                            <label for="inpute_sid_id" class="col-sm-2 control-label tes">学生姓名:</label>
                            <div class="col-sm-10">
                                <input type="text" name="e_sid_id" class="form-control te" placeholder="学生姓名"
                                       value="{{ sid_id }}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inpute_stot_evaluate" class="col-sm-2 control-label tes">学生对老师的评价:</label>
                            <div class="col-sm-10">
                                <input type="text" name="e_stot_evaluate" class="form-control te" id="e_stot_evaluate"
                                       placeholder="学生对老师的评价">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inpute_ttos_score" class="col-sm-2 control-label tes">学生对老师的打分:</label>
                            <div class="col-sm-10">
                                <input type="text" name="e_stot_score" class="form-control te" id="e_stot_score"
                                       placeholder="学生对老师的打分">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inpute_tid" class="col-sm-2 control-label tes">老师姓名:</label>
                            <div class="col-sm-10">
                                <select name="e_tid_id" class="form-control te" id="teacher">
                                    <option value="">请选择老师</option>
                                    {% for infor in informations %}
                                        <option value="{{ infor.t_id }}">{{ infor.t_name }}</option>
                                    {% endfor %}
                                </select>
                                {#                                <input type="text" class="form-control te" id="e_tid" placeholder="老师姓名">#}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inpute_ttos_score" class="col-sm-2 control-label tes">课程名:</label>
                            <div class="col-sm-10">
                                <select name="e_did_id" class="form-control te" id="detail">
                                    <option value="">请选择课程</option>
                                    {% for infor in informations %}
                                        <option value="{{ infor.d_id }}">{{ infor.d_name }}</option>
                                    {% endfor %}
                                </select>
                                {#                                <input type="text" class="form-control te" id="e_ttos_score" placeholder="课程名">#}
                            </div>
                        </div>

                        <p id="stu_error"></p>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <p class="btns btn btn-default">评价</p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/jquery-3.3.1.js"></script>
    <script>
        $(function () {
            bindEvent();
            bindmenu();
            bindEditConfirm();
        });

        function bindEditConfirm() {
            $('.btns').click(function () {
                var postData = {};
                $('#fm').find('input, select').each(function () {
                    var v = $(this).val();
                    var n = $(this).attr('name');
                    postData[n] = v;

                });
                console.log(postData);
                $.ajax({
                    url: '/student/',
                    type: 'POST',
                    dataType: 'JSON',
                    data: postData,
                    success: function (arg) {
                        if (arg.status) {
                            alert(arg.inf);
                        }
                        else {
                            {#$('#stu_error').text(arg.inf);#}
                            {#window.location.reload()#}
                            alert(arg.inf);
                        }

                    }
                });

            });
        }

        function bindmenu() {
            $('.m_menu').click(function () {
                $(this).addClass('actions');
                $(this).siblings().removeClass('actions')
            });
        }

        function bindEvent() {
            $('.m_leftmenu div').click(function () {
                $(".m_content").children().eq($(this).index()).addClass("show").siblings().removeClass("show");

            })
        }

    </script>
{% endblock %}