{% extends 'base.html' %}

{% block title %}课程管理{% endblock %}

{% load str_time %}

{% block css %}
    <link rel="stylesheet" href="/static/css/m_teacher.css">
    <link rel="stylesheet" href="/static/css/m_student.css">
    <style>
        .sut {
            width: 223px;
        }

        .su {
            width: 150px;
            border: 1px solid rgb(223, 240, 216);
        }
    </style>
{% endblock %}


{% block content %}
    <div class="m_body">
        <div class="m_leftmenu">
            <div class="m_menu actions">
                <i class="fa fa-book" aria-hidden="true"></i>&nbsp;
                <a href="#">我的课程</a>
            </div>
            <div class="m_menu">
                <i class="fa fa-male" aria-hidden="true"></i>
                <a href="#">我的学生</a>
            </div>
            <div class="m_menu">
                <i class="fa fa-calendar" aria-hidden="true"></i>
                <a href="#">课程表</a>
            </div>
            <div class="m_menu">
                <i class="fa fa-braille" aria-hidden="true"></i>
                <a href="#">学生成绩单</a>
            </div>
            <div class="m_menu">
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>&nbsp;
                <a href="#">上课提醒设置</a>
            </div>
            <div class="m_menu">
                <i class="fa fa-paint-brush" aria-hidden="true"></i> &nbsp;
                <a href="#">发布测试</a>
            </div>
            <div class="m_menu">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i> &nbsp;
                <a href="#">评价学生</a>
            </div>

        </div>
        <div class="content">
            <div class="m_hide m m_1  show">
                <table class="m_1_table table table-hover">
                    <thead>
                    <tr>
                        <td class="sut success">课程名称</td>
                        <td class="sut success">总课时</td>
                        <td class="sut success twth">课程介绍</td>
                        <td class="sut success twth">备注</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in course_list %}
                        <tr>
                            <td class="sut ">{{ row.c_name }}</td>
                            <td class="sut ">{{ row.c_count }}</td>
                            <td class="sut twth">{{ row.c_detail }}</td>
                            <td class="sut twth">{{ row.c_remark }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="m m_2 m_hide">
                <table class="m_2_table table table-hover">
                    <thead>
                    <tr>
                        <td class="success">学生姓名</td>
                        <td class="success">学生班级</td>
                        <td class="success">学生性别</td>
                        <td class="success">学生状态</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in student_list %}

                        <tr>
                            <td class="">{{ row.s_name }}</td>
                            <td class="">{{ row.s_grade }}</td>
                            {% if row.s_sex == True %}
                                <td class="">男</td>
                            {% else %}
                                <td class="">女</td>
                            {% endif %}

                            {% if row.s_state == True %}
                                <td class="">学习中</td>
                            {% else %}
                                <td class="">已注销</td>
                            {% endif %}
                        </tr>

                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="m m_3 m_hide">
                <table class="m_1_table table table-hover">
                    <thead>
                    <tr>
                        <td class="success kb" style="display: none">ID</td>
                        <td class="success kb">课程名称</td>
                        <td class="success kb">课程章节</td>
                        <td class="success kb">课程时长</td>
                        <td class="success kb">上课时间</td>
                        <td class="success kb" style="display: none">课程ID</td>
                        <td class="success wth">简介</td>
                        <td class="success wth">备注</td>
                        <td class="success wth">操作</td>
                    </tr>
                    </thead>
                    <tbody id="class_tbody" class="td">
                    {% load str_time %}
                    {% for d in detail_list %}
                        {% for g in grent_list %}
                            {% if g.g_did_id == d.d_id %}
                        <tr nid="{{ d.d_id }}" id="stu">
                            <td na="d_id" class=" kb" style="display: none">{{ d.d_id }}</td>
                            <td na="d_name" class=" kb">{{ d.d_name }}</td>
                            <td na="d_number" class=" kb">{{ d.d_number }}</td>
                            <td na="d_time_length" class=" kb">{{ d.d_time_length }}</td>
                            <td na="d_create_time" class=" kb">{{ g.g_time|strd_time }}</td>
                            <td na="d_cid_id" class=" kb" style="display: none">{{ d.d_cid_id }}</td>
                            <td na="d_detail" class="wth">{{ d.d_detail }}</td>
                            <td na="d_remark" class="wth">{{ d.d_remark }}</td>
                            <td class="info">
                                <a href="#"  class="editdetail fa fa-pencil-square-o"></a>
                            </td>
                        </tr>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>

                <!-- 编辑学生 -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">课程信息</h4>
                            </div>
                            <div class="modal-body">
                                <form class="form-horizontal" id="forms">
                                    {% csrf_token %}
                                    <div class="form-group" style="display: none">
                                        <label for="inputd_id" class="col-sm-2 control-label">ID</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="d_id" disabled>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputd_name" class="col-sm-2 control-label">课程名称</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="d_name" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputd_number" class="col-sm-2 control-label">课程章节</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="d_number" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputd_time_length" class="col-sm-2 control-label">课程时长</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="d_time_length" disabled>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputd_create_time" class="col-sm-2 control-label">上课时间</label>
                                        <div class="form-group" style="width: 470px;margin-left: 115px">
{#                                            <input type="text" class="form-control" name="d_create_time">#}
                                            <input type="datetime-local" class="form-control" id="d_create_time"
                                                   placeholder="请输入审核结束时间">
                                        </div>
                                    </div>
                                    <div class="form-group" style="display: none">
                                        <label for="inputd_cid_id" class="col-sm-2 control-label">课程ID</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="d_cid_id">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputd_detail" class="col-sm-2 control-label">简介</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="d_detail" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputd_remark" class="col-sm-2 control-label">备注</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="d_remark">
                                        </div>
                                    </div>
                                </form>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                <button type="button" class="btn btn-primary" id="editdetail">保存</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="m m_4 m_hide">
                <table class="m_1_table table table-hover">
                    <thead>
                    <tr>
                        <td class="success">学生名称</td>
                        <td class="success">课程名称</td>
                        <td class="success">成绩</td>
                        <td class="success">备注</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr></tr>
                    </tbody>
                </table>
            </div>
            <div class="m m_6 m_hide">
                <div class="m_6_remind">
                    <div>
                        <form action="#">
                            <span>短息提醒：</span>&nbsp;
                            <input type="radio" name="remind" value="1">提醒
                            <input type="radio" name="remind" value="0" checked>不提醒
                        </form>
                        <p>
                            <a style="margin-top: 20px;margin-left: 20px" type="button" class="btn btn-info">设置</a>
                        </p>
                    </div>
                </div>
            </div>
            <di class="m_7 m m_hide">
                <a style="margin-top: 20px;margin-left: 20px" type="button" class="btn btn-info">进入房间</a>
            </di>
            <div class="m m_8 m_hide">
                <table class="m_2_table table table-hover">
                    <thead>
                    <tr>
                        <td class="success su">课程名称</td>
                        <td class="success su" style="width: 100px;">学生姓名</td>
                        <td class="success su" style="width: 100px;">上课时间</td>
                        <td class="success su">课程链接</td>
                        <td class="success su" style="width: 50px;">状态</td>
                        <td class="success wth">操作</td>
                    </tr>
                    </thead>
                    <tbody id="class_tbody" class="td">
                    {% load str_time %}
                    {% for row in grent_join_url %}
                        <tr nid="{{ row.grent_tid }}">
                            <td class=" su" na="grent_d_name">{{ row.grent_d_name }}</td>
                            <td class=" su" na="grent_s_name">{{ row.grent_s_name }}</td>

                            {% if  row.grent_time == location_time %}
                                <td class=" su" na="grent_time">{{ row.grent_time }}</td>
                                {% if  row.grent_j_url != 'error' %}
                                    <td class=" su" na="grent_j_url"><a
                                            href="http://{{ grent_join_urlstrd_time }}">点击上课</a></td>
                                {% else %}
                                    <td class=" su" na="grent_j_url">暂无连接</td>
                                {% endif %}
                            {% else %}
                                <td class=" su" na="grent_time">{{ row.grent_time|strd_time }}</td>
                                <td class=" su" na="grent_j_url">暂无连接</td>
                            {% endif %}
                            {% if row.grent_record == '0' %}
                                <td class=" su" na="grent_record">未上课</td>
                            {% elif row.grent_record == '1' %}
                                <td class=" su" na="grent_record">已完成</td>
                            {% else %}
                                <td class=" su" na="grent_record">已取消</td>
                            {% endif %}

                            <td class="">
                                {% if row.grent_record == '1' %}
                                    <a href="#" class="evaluate fa fa-comments" style="color: dodgerblue"></a>&nbsp;
                                    &nbsp;|&nbsp;
                                    &nbsp;
                                    <a href="/evaluatestudent?tid={{ row.grent_tid }}" class="fa fa-search-plus"></a>
                                {% else %}
                                    <a href="#" class="noevaluate fa fa-ban" style="color: red"></a>&nbsp;&nbsp;|&nbsp;
                                    &nbsp;
                                    <a href="#" class="noclick fa fa-search-plus" style="color: red"></a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>

                <!-- 评价学生 -->
                <div class="modal fade" id="EvaluateStudent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">评价学生</h4>
                            </div>
                            <div class="modal-body">
                                <form class="form-horizontal" id="tforms">
                                    {% csrf_token %}
                                    <div class="form-group m_hide">
                                        <label for="inpute_tid_id" class="col-sm-2 control-label tes">老师姓名:</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="e_tid_id" class="form-control te"
                                                   placeholder="老师姓名"
                                                   value="{{ tid }}">
                                        </div>
                                    </div>

                                    <div class="form-group m_hide">
                                        <label for="inputgrent_record"
                                               class="col-sm-2 control-label tes">状态:</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="grent_record" class="form-control te"
                                                   id="e_stot_score"
                                                   placeholder="状态">
                                        </div>
                                    </div>

                                    <div class="form-group  m_hide">
                                        <label for="inputgrent_j_url"
                                               class="col-sm-2 control-label tes">课程链接:</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="grent_j_url" class="form-control te"
                                                   id="grent_j_url"
                                                   placeholder="课程链接">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputgrent_time"
                                               class="col-sm-2 control-label tes">上课时间:</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="grent_time" class="form-control te"
                                                   id="grent_time"
                                                   placeholder="上课时间">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputgrent_s_name" class="col-sm-2 control-label tes">学生姓名:</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control te" name="grent_s_name" id="e_sid"
                                                   placeholder="学生姓名">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputgrent_d_name" class="col-sm-2 control-label tes">课程名:</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control te" name="grent_d_name"
                                                   id="e_ttos_score"
                                                   placeholder="课程名">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inpute_ttos_evaluate"
                                               class="col-sm-2 control-label tes">老师对学生的评价:</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="e_ttos_evaluate" class="form-control te"
                                                   id="e_ttos_evaluate"
                                                   placeholder="老师对学生的评价">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inpute_ttos_score"
                                               class="col-sm-2 control-label tes">老师对学生的打分:</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="e_ttos_score" class="form-control te"
                                                   id="e_ttos_score"
                                                   placeholder="老师对学生的打分">
                                        </div>
                                    </div>
                                </form>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                <button type="button" class="btn btn-primary" id="evaluatestudent">保存</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/js/jquery-3.3.1.js"></script>

    <script src="/static/plug/bootstrap/js/bootstrap.js"></script>

    <script>
        $(function () {
            bindEvaluatestudent();
            bindEvaluteConfirm();
            bindEvent();
            bindEvaluate();
            bindEdit();
            bindEditConfirm();

        });


        {#评价#}

        function bindEvaluatestudent() {
            $('.noevaluate').click(function () {
                alert('课程还未上完或已取消，暂不可评价')
            });
            $('.noclick').click(function () {
                alert('无法查看评价！')
            });
            $('.td').on('click', '.evaluate', function () {
                $('#EvaluateStudent').modal('show');

                $(this).parent().prevAll().each(function () {
                    var v = $(this).text();
                    var n = $(this).attr('na');
                    $("#EvaluateStudent input[name='" + n + "']").val(v)

                })
            });

        }

        function bindEvaluteConfirm() {
            $('#evaluatestudent').click(function () {
                var portData = {};
                $('#tforms').find('input').each(function () {
                    var v = $(this).val();
                    var n = $(this).attr('name');
                    portData[n] = v;
                });

                console.log(portData);
                $.ajax({
                    url: '/teacher/',
                    type: 'POST',
                    dataType: 'JSON',
                    data: portData,
                    success: function (arg) {
                        if (arg.status) {
                            {#createRow(portData, arg.data);#}
                            alert(arg.inf);
                            window.location.reload();
                            $('#myModal').modal('hide');

                        }
                        else {
                            {#$('#class_error').text(arg.inf);#}
                            alert(arg.inf);
                        }
                    }
                })


            })

        }

        {#评价结束#}

        function bindEvaluate() {
            $('.tbtns').click(function () {
                var postData = {};
                $('#fm').find('input, select').each(function () {
                    var v = $(this).val();
                    var n = $(this).attr('name');
                    console.log(v);
                    console.log(n);
                    postData[n] = v;

                });
                console.log(postData);
                $.ajax({
                    url: '/teacher/',
                    type: 'POST',
                    dataType: 'JSON',
                    data: postData,
                    success: function (arg) {
                        if (arg.status) {
                            alert(arg.inf);
                        }
                        else {
                            alert(arg.inf);
                        }

                    }
                });

            });
        }

        $('.m_menu').click(function () {
            $(this).addClass('actions');
            $(this).siblings().removeClass('actions')
        });

        function bindEvent() {
            $('.m_leftmenu div').click(function () {
                $(".content").children().eq($(this).index()).addClass("show").siblings().removeClass("show");

            })
        }

        {#编辑学生#}

        function bindEdit() {
            $('.td').on('click', '.editdetail', function () {
                $('#myModal').modal('show');
                $(this).parent().prevAll().each(function () {
                    var v = $(this).text();
                    console.log(v);
                    var n = $(this).attr('na');

                        $("#myModal input[name='" + n + "']").val(v)
                })
            });
        }

        function bindEditConfirm() {
            $('#editdetail').click(function () {
                {#var portData = {};#}
                 var data = $("#d_create_time").val();
                    var remark = $("[name='d_remark']").val();
                    var did = $("[name='d_id']").val();
                    console.log(data);
                {#console.log(remark);#}
                {#console.log(did);#}
                $.ajax({
                    url: '/editdetail/',
                    type: 'POST',
                    dataType: 'JSON',
                    data:{
                        csrfmiddlewaretoken:$("[name='csrfmiddlewaretoken']").val(),
                        data:data,
                        remark:remark,
                        did:did
                    },
                    success: function (arg) {
                        console.log(arg);
                        if (arg.status) {
                            {#createRow(portData, arg.data);#}
                            window.location.reload();
                            $('#myModal').modal('hide');
                        }
                    }
                })

            })

        }

    </script>
{% endblock %}