{% extends "index_base.html" %}

{% block article %}
    <div id="fh5co-contact">
        <div class="container">
            <div class="row">
                <div class="col-md-9  animate-box z-news-img">
                    <img src="http://115.159.33.73:8080/hbnu/upload/2018/09/rgg9btbl0uhkvr74ghjb5pqcuj.jpg" alt="新闻图片">
                </div>
                <div class="col-md-2 animate-box">4164165416514</div>
            </div>
            <div class="row">
                <div class="col-md-9 z-custom ">
                    <h4>麒麟动态||校领导来视察我们实训啦</h4>
                    <div><span>发布于：2018-08-28</span></div>
                    <p>8月28日下午，淮北师范大学计算机科学与技术学院院长宋万干，学院党委书记胡少锋，教授葛方振，副教授李建国等校领导莅临视察了学院在公司实训学生。
                        视察过程中，宋院长一行首先对公司提供的实训平台表示衷心的感谢。随后各班学生代表汇报自己的实训情况与收获，阐述企业实训和南京、无锡培训的不同点，以及优缺点。学生表示，南京无锡更注重培训基础，所有人都是从零基础学习，而企业实训，能接触到更前沿的技术和实战的项目，对于有一定基础的学生来说，企业实训更适合。汇报结束后，领导们对同学们实训期间的用心、细心、专心给予了肯定和表扬。
                        领导们表示，希望每位同学要珍惜实训机会，对自己要高标准、严要求，在实训实践过程中成长、在工作和生活中实现人生价值。要向学弟学妹们传递危机意识，不要等到大三大四才开始认识到学习的重要性，同样的大学四年，有的同学很优秀，有的却很平凡，在大学这样一个管理比较宽松的环境，自觉很重要。
                        随后，在与同学们的交流中，校领导特别询问了是否适应实训生活，课本理论与实践能否结合等问题。同学们纷纷表示通过实训学到了很多书本上学不到的内容，动手实践能力不足，缺乏对软件的深入认知等，也感谢领导和老师们的关心，一定会珍惜这次实训机会，圆满完成实训任务。
                        会议结束后，领导们参观了学生实训的工作环境，并对公司提供的实训平台再次表示了感谢。
                        最后，麒麟也对各位领导对公司给予的信任表示感谢！</p>
                </div>
                <div class="col-md-3">

                </div>
            </div>

        </div>
    </div>
{% endblock %}