{% extends 'base.html' %}

{% block title %}
通知中心
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/kuding.css">
{% endblock %}

{% block content %}
<div class="container-fluid" style="background-color: #eef3fa;">
    <div class="row">
        <div class="col-md-2 col-xs-2" style="padding-left: 0;padding-right: 0;width: 20%">
            <div class="bord"
                 style="box-shadow: 0 0 30px 8px rgba(222,239,252,.9);margin: 15px;padding-left: 0;padding-right: 0;height: 680px;background-color: #ffffff">
                <ul style="padding-left: 0">
                    <li class="li_notice" style="background-color: #e3f4fb;;list-style-type: none">系统通知</li>
                </ul>
            </div>
        </div>
        <div class="col-md-8 col-xs-2" style="padding-left: 0;padding-right: 0;width: 60%">
            <div class="bord"
                 style="background: #ffffff;box-shadow: 0 0 30px 8px rgba(222,239,252,.9);margin: 20px;padding-left: 0;padding-right: 0;height: 680px">
                <div style="padding-right: 40px;padding-top: 40px">
                    <ul class="sc">
                        {#                    从后台读取的数据填充到页面当中#}
                        {% for i in ret %}
                            {% for j in i %}
                                <li style="list-style-type: none;">
                                <div class="main">
                                    {% load str_time %}
                                    <div class="time"> {{ j.3 | strf_time }}</div>
                                    <div class="ico">
                                        <i class="fa fa-lg fa-hand-o-right"
                                           style="color: #2aabd2"
                                           aria-hidden="true">
                                        </i>
                                    </div>
                                </div>
                                <div class="msg">
                                    <div class="hidden">您的孩子{{ j.1 }}上了 {{ j.2 }} 这节课！</div>
                                </div>
                            </li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            </div>

        </div>
        <div class="col-md-2 col-xs-2" style="padding-left: 0;padding-right: 0;width:20%">
            <div class="bord"
                 style="box-shadow: 0 0 30px 8px rgba(222,239,252,.9);margin: 15px;padding-left: 0;padding-right: 0;height: 680px;background-color: #ffffff">
                <ul style="padding-left: 0">
                    <li class="li_notice" style="background-color: #e3f4fb;;list-style-type: none">系统通知</li>
                </ul>
            </div>
        </div>
    </div>
</div>
    <script src="/static/js/kuding.js"></script>
    <script>
    $(".main").on('click', function () {
        c_n($(this));
    })
</script>
{% endblock %}
