{% extends 'base.html' %}

{% block title %}
    通知中心
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/kuding.css">
    <link rel="stylesheet" href="/static/css/notice.css">
{% endblock %}

{% block content %}

    {% if role == "student" %}

        <div class="content">
            <div class="left_menu_notice">
                <ul class="ul_all_notice">
                    <li class="li_all_notice">全体通知</li>
                </ul>
                <ul class="sc_notice">
                    {% if all_s_log_obj %}
                                {% for all_s_log in all_s_log_obj %}
                                    <li style="list-style-type: none;">
                                        <div class="main">
                                            {% load str_time %}
                                            <div class="time"> {{ all_s_log.l_create_time | strf_time }}</div>
                                            <div class="ico">
                                                <i class="fa fa-lg fa-hand-o-right"
                                                   style="color: #2aabd2"
                                                   aria-hidden="true">
                                                </i>
                                            </div>
                                        </div>
                                        <div class="msg">
                                            <div class="hidden">{{ all_s_log.l_action }}</div>
                                        </div>
                                    </li>
                                {% endfor %}
                            {% else %}
                        <div class="notice_none">暂无全体通知</div>
                            {% endif %}
                </ul>

                <ul class="ul_all_notice">
                    <li class="li_all_notice">个人通知</li>
                </ul>
                <ul class="sc">
                    {% if s_log_obj %}
                        {% for s_log in s_log_obj %}
                            <li style="list-style-type: none;">
                                <div class="main">
                                    {% load str_time %}
                                    <div class="time"> {{ s_log.l_create_time | strf_time }}</div>
                                    <div class="ico">
                                        <i class="fa fa-lg fa-hand-o-right"
                                           style="color: #2aabd2"
                                           aria-hidden="true">
                                        </i>
                                    </div>
                                </div>
                                <div class="msg">
                                    <div class="hidden">{{ s_log.l_action }}</div>
                                </div>
                            </li>
                        {% endfor %}
                    {% else %}
                        <div class="notice_none">暂无数据</div>
                    {% endif %}
                </ul>
            </div>
        </div>
    {% endif %}


    {% if role == "teacher" %}
        <div class="content">
            <div class="left_menu_notice">
                <ul class="ul_all_notice">
                    <li class="li_all_notice">全体通知</li>
                </ul>
                <ul class="sc_notice">
                    {% if all_t_log_obj %}
                        {% for all_t_log in all_t_log_obj %}
                            <li style="list-style-type: none;">
                                <div class="main">
                                    {% load str_time %}
                                    <div class="time"> {{ all_t_log.l_create_time | strf_time }}</div>
                                    <div class="ico">
                                        <i class="fa fa-lg fa-hand-o-right"
                                           style="color: #2aabd2"
                                           aria-hidden="true">
                                        </i>
                                    </div>
                                </div>
                                <div class="msg">
                                    <div class="hidden">{{ all_t_log.l_action }}</div>
                                </div>
                            </li>
                        {% endfor %}
                    {% else %}
                        <div class="notice_none">暂无全体通知</div>
                    {% endif %}
                </ul>

                <ul class="ul_all_notice">
                    <li class="li_all_notice">个人通知</li>
                </ul>
                <ul class="sc">
                    {% if t_log_obj %}
                        {% for t_log in t_log_obj %}
                            <li style="list-style-type: none;">
                                <div class="main">
                                    {% load str_time %}
                                    <div class="time"> {{ t_log.l_create_time | strf_time }}</div>
                                    <div class="ico">
                                        <i class="fa fa-lg fa-hand-o-right"
                                           style="color: #2aabd2"
                                           aria-hidden="true">
                                        </i>
                                    </div>
                                </div>
                                <div class="msg">
                                    <div class="hidden">{{ t_log.l_action }}</div>
                                </div>
                            </li>
                        {% endfor %}
                    {% else %}
                        <div class="notice_none">暂无数据</div>
                    {% endif %}
                </ul>
            </div>
        </div>
    {% endif %}



    <script src="/static/js/kuding.js"></script>
    <script>
        $(".main").on('click', function () {
            c_n($(this));
        })
    </script>
{% endblock %}
