<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />

    <title>注册</title>
    <link type="text/css" rel="stylesheet" href="/static/plug/bootstrap/css/bootstrap.min.css">
	<link type="text/css" rel="stylesheet" href="/static/css/register.css">
    <script src="/static/js/jquery-3.3.1.js"></script>
    <script src="/static/plug/bootstrap/js/bootstrap.min.js"></script>
    <script>
        $(function () {
            var t =60;
            $('.getmessage').click(function () {
                 // alert('苍天啊，点击一定要成功啊');
                $(this).attr('disabled',true);
                var t =60;
                var i = setInterval(function () {
                    t--;
                    if (t > 0)
                     $('.getmessage').text(t+'秒后刷新重试');
                    else
                    {
                        $('.getmessage').text('获取登陆密码');
                        $('.getmessage').removeAttr('disabled');
                        clearInterval(i);
                    }
                },1000);
                i();
            });
        })
    </script>

</head>


<body>
<div class="toph">
    <div class="topcon">
        <a href="index.html" style="display: inline-block;padding-top:28px;">
            <img src="images/logo.png" style="width: 180px" alt="logo">
        </a>
        <img style=" display:inline-block; float:right;" src="images/tel.png" alt="联系方式" title="联系电话不是我们的">
    </div>
</div>
<div class="main">
    <div class="loginh">
        <!--<div id="student_" class="tab_n tab_active" style="border-bottom: 0px;">学生</div>-->
        <!--<div id="parent_" class="tab_n" style="border-bottom: 1px solid rgb(204, 204, 204);">家长</div>-->
        <!--<div id="teacher_" class="tab_n" style="border-bottom: 1px solid rgb(204, 204, 204);">老师</div>-->
        <div class="tab_n" style="width: 350px;">注 册</div>
        <div class="loginbox">
            <form class="form-inline">
                <div class="form-group">
                    <label class="sr-only" for="stu_name">账号</label>
                    <input type="email" autofocus class="form-control" id="stu_name" placeholder="请输入孩子姓名">
                    <p >这里是提示信息</p>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="stu_age">密码</label>
                    <input type="text"  class="form-control" id="stu_age" placeholder="请输入孩子年龄">
                    <p >这里是提示信息</p>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="exampleInputEmail3">账号</label>
                    <input type="email"  class="form-control" id="exampleInputEmail3" placeholder="请输入家长邮箱">
                    <p >这里是提示信息</p>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="stu_tel">账号</label>
                    <input type="email"  class="form-control" id="stu_tel" placeholder="请输入家长手机号">
                    <p >这里是提示信息</p>
                </div>



                <div class="tel_yanzheng">
                    <div style="float: left;">
                        <label>
                            <input type="text" class="form-control" placeholder="输入手机验证" >
                        </label>
                    </div>
                    <div style="float: right">
                        <button type="button" class="getmessage btn btn-warning btn-md" >获取手机验证</button>
                    </div>
                </div>
                <div style="margin: 0px 30px 15px;">
                </div>
                <button type="submit" class="btn btn-primary btn-lg" >立即登陆</button>

            </form>
            <div style="margin-right: 30px;float: right;margin-top: 10px;">
                <a href="/login/">已有账号，立即登陆</a>
            </div>
        </div>
    </div>


</div>
<div class="footer">
    <a target="_blank" href="index.html">首页</a>
    <a target="_blank" href="stu_show.html">学员风采</a>
    <a target="_blank" href="class_type.html">课程类型</a>
    <a target="_blank" href="Teachers_lineup.html">师资阵容</a>
    <a target="_blank" href="contact.html">联系我们</a>
    <p style="font-size: 12px;">©淮北麒麟信息科技有限公司    All Rights Reserved | <a href="http://www.qilinxx.com/">备案号</a></p>
</div>

</body>


</html>