{% extends "index_base.html" %}

{% block title %}
    学员风采
{% endblock %}

{% block article %}
    <div id="fh5co-project">
        <div class="container">
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                    <h2>学生成果展示</h2>
                    <p>以下是酷丁少儿编程班学生完成的一些成果展示</p>
                </div>
            </div>
        </div>
        <div class="container-fluid proj-bottom">
            <div class="row">
                <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
                    <a href="#"><img src="/static/img/project-1.jpg" alt="Free HTML5 Website Template by FreeHTML5.co"
                                     class="img-responsive">
                        <h3>Web Master</h3>
                        <span>View Course</span>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
                    <a href="#"><img src="/static/img/project-2.jpg" alt="Free HTML5 Website Template by FreeHTML5.co"
                                     class="img-responsive">
                        <h3>Virtual Assistant</h3>
                        <span>View Course</span>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
                    <a href="#"><img src="/static/img/project-3.jpg" alt="Free HTML5 Website Template by FreeHTML5.co"
                                     class="img-responsive">
                        <h3>Read Bible</h3>
                        <span>View Course</span>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
                    <a href="#"><img src="/static/img/project-9.jpg" alt="Free HTML5 Website Template by FreeHTML5.co"
                                     class="img-responsive">
                        <h3>Programming</h3>
                        <span>View Course</span>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
                    <a href="#"><img src="/static/img/project-5.jpg" alt="Free HTML5 Website Template by FreeHTML5.co"
                                     class="img-responsive">
                        <h3>Technician</h3>
                        <span>View Course</span>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
                    <a href="#"><img src="/static/img/project-6.jpg" alt="Free HTML5 Website Template by FreeHTML5.co"
                                     class="img-responsive">
                        <h3>Photography</h3>
                        <span>View Course</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="features">
                    <div class="col-md-4 animate-box">
                        <h4>我们有典型的课程</h4>
                        <p>通过 Sctatch 图形编程语言，孩子能跳过复杂的函数，公式。直达编程训练思维的核心价值 </p>
                    </div>
                    <div class="col-md-4 animate-box">
                        <h4>针对5——16岁儿童</h4>
                        <p>符合6到16岁儿童认知阶段，能帮助孩子更好学习逻辑思维和计算思维 </p>
                    </div>
                    <div class="col-md-4 animate-box">
                        <h4>图形化编程语言</h4>
                        <p>图形化代码，通过对代码的拖拽，嵌套，实现编程。还可以实习对机器人，硬件的控制 </p>
                    </div>
                </div>
                <!--<div class="col-md-12 text-center animate-box">-->
                <!--<p><a class="btn btn-primary btn-lg btn-learn" href="#">开启美妙的学习之旅</a></p>-->
                <!--</div>-->
            </div>
        </div>
    </div>
{% endblock %}