{% extends "base.html" %}

{% block title %}
考试中心
{% endblock %}


{% block css %}
    <link rel="stylesheet" href="/static/css/kuding.css">
{% endblock %}


{% block content %}

    <p style="text-align: center;font-size: 30px;color:whitesmoke;margin-top: 5%">酷丁考试平台</p>
    <div class="container">
        <div class="row" style="text-align: center;margin-top: 10%">
                <div class="test_div">1</div>
                <div class="test_div">2</div>
                <div class="test_div">3</div>
        </div>
    </div>

{% endblock %}