{#代码工具页#}


{% extends 'base.html' %}

{% block title %}
代码工具
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/kuding.css">
{% endblock %}
{% block content %}
{#    <div style="background: #00bfff;position: fixed;width: 100%;height: 100%;"></div>#}
    <div style="text-align: center">
        <div class="tool_div">
            <div>
                c
            </div>
            <div>
                java
            </div>
            <div>
                python
            </div>
             <div>
                Scratch
            </div>
        </div>
    </div>
{% endblock %}
