{#代码工具页#}


{% extends 'base.html' %}

{% block title %}
代码工具
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/kuding.css">
{% endblock %}
{% block content %}
{#    <div style="background: #00bfff;position: fixed;width: 100%;height: 100%;"></div>#}
    <div style="text-align: center">
        <div class="tool_div">
            <div>
                <a href="" onclick="alert('该功能正在开发中，敬请期待！！！')">Noip</a>
            </div>
            <div>
                <a href="" onclick="alert('该功能正在开发中，敬请期待！！！')">Python</a>
            </div>
             <div>
                 <a target="_blank" href="/static/build/index.html#/project_create">Scratch</a>
                 {#                 <a href="/build/">Scratch</a>#}
            </div>
        </div>
    </div>
    <script>
        function setCookie() {
            document.cookie = 's_id = {{ stu_obj.pk }} ' + ";path=/;";
            document.cookie = 'username = {{ stu_obj.s_name }} ' + ";path=/;";
            document.cookie = 'head_img = {{ stu_obj.s_head_image }} ' + ";path=/;";
        };
        setCookie()
    </script>
{% endblock %}
